body {
    background-color: #f2f2f2;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h2 {
  color:#222222;
  font-size: 18px;
}

#loading {
	font-size: 80px;
	font-weight: bold;
}

#nowebgl {
	display: none;
	text-align: center;
	margin-top: 60px;
}

a:link, a:visited {
	color: #007edf;
	text-decoration:none;
}

a:hover, a:active {
	text-decoration:underline;
}